import runtimeTester.EnvironmentVariableStorage;
import runtimeTester.IPreRunPhase;

public class __CLASS__NAME__HERE__ implements IPreRunPhase
{
	@Override
    public void preRun(Object obj, Object customObj, Object... params)
    {
    	EnvironmentVariableStorage environmentVariableStorage = (EnvironmentVariableStorage) customObj;
    	
        __CODE___HERE__
    }
}